
@font-face {
  font-family: pre_L;
  src: url(../webfont/Pretendard-Light.woff) format("woff");
}
@font-face {
  font-family: pre_R;
  src: url(../webfont/Pretendard-Regular.woff) format("woff");
}
@font-face {
  font-family: pre_B;
  src: url(../webfont/Pretendard-Bold.woff) format("woff");
}
@font-face {
  font-family: pre_Bk;
  src: url(../webfont/Pretendard-Black.woff) format("woff");
}
@font-face {
  font-family: pre_Bk;
  src: url(../webfont/Pretendard-Black.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
	--text-color1:rgba(0,0,0,0.8);
	--text-color2:rgba(0,0,0,0.4);
	--text-color3:rgba(0,0,0,0.6);
	--background-color: #f4f4f4;
	--accent-color: #CC4B4B;
}

ul {list-style: none;}

a {text-decoration: none; color: inherit;}

body {
  font-family: pre_R;
  font-size: 15px;
  line-height: 1.7em;
  color: var(--text-color1);
}
.section_title{color: var(--text-color1);}

header {
  width: 100%;
  top: 0;
  left: 0;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
  font-weight: 700;
  background-color: #fff;
  position: fixed;
  z-index: 50;
}
header .topmenu {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
header .topmenu .top_left {
  width: 28px;
  height: 32px;
}
header .topmenu .top_left img {
display: block;
}
header .topmenu nav {
  width: 100%;
  font-size: 16px;
}
header .topmenu nav ul {
  width: 100%;
  display: flex;
  justify-content: right;
}
header .topmenu nav ul li{padding-left: 4%;}

header .topmenu nav ul a:hover {color: var(	--accent-color);}
header .topmenu .hcolor{color: var(	--accent-color) !important;}
