@charset "UTF-8";

@font-face {
  font-family: pre_L;
  src: url(../webfont/Pretendard-Light.woff) format("woff");
}
@font-face {
  font-family: pre_R;
  src: url(../webfont/Pretendard-Regular.woff) format("woff");
}
@font-face {
  font-family: pre_B;
  src: url(../webfont/Pretendard-Bold.woff) format("woff");
}
@font-face {
  font-family: pre_Bk;
  src: url(../webfont/Pretendard-Black.woff) format("woff");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
	--text-color1:rgba(0,0,0,0.8);
	--text-color2:rgba(0,0,0,0.4);
	--text-color3:rgba(0,0,0,0.6);
	--background-color: #f5f6f9;
	--background-color0: #0D1117;
	--accent-color: #BF8A3D;
}

ul {list-style: none;}

a {text-decoration: none; color: inherit;}

body {
  font-family: pre_R;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color1);
}
.section_title{color: var(--text-color1);}

header {
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  font-weight: 700;
  color: var(--background-color0);
  backdrop-filter: blur(3px); 
  position: fixed;
  z-index: 50;
}
header .topmenu {
  max-width: 1820px;
  margin: 0 auto;
  display: flex;
  text-transform: uppercase;
}
header .topmenu .top_left {
  display: block;
  align-self: center;
  width: 28px;
  height: 32px;
}
header .topmenu .top_left img {
display: block;
}

header .topmenu nav {
  width: 100%;
  font-size: 16px;
}
header .topmenu nav ul {
  width: 100%;
  display: flex;
  justify-content: right;
}
header .topmenu nav ul li{padding-left: 3%;}

header .topmenu nav ul a:hover {color: var(	--accent-color);}
header .topmenu .hcolor{color: var(	--accent-color) !important;}


/* 1. 로고 및 상징 이미지 영역 */

/*배경 사진*/
section.sec1 {
  background-color: #0D1117; 
  width: 100wh; 
  height: 100vh; 
  overflow: hidden;
}
.symbolbg{  
  background-image: url(/image/web_bk.png);
  background-repeat: no-repeat;
object-fit: cover;}
.sec1wrap{
  width: 1580px; 
  margin: 0 auto; 
  padding-top: 120px;
  display: flex; 
  justify-content: space-between;
  color: #fff;
  position: relative;
}
.s1_left .main_t{ 
  font-family: pre_Bk; 
  padding-top: 140px; 
  font-size: 90px; 
  line-height: 91px;
  
}

  .s1_left .sub_t{
    margin-top: 86px;
   font-size: 21px;
   line-height: 34px;
  }
  .s1_left .sub_t span{
    font-family: pre_B;
    font-size: 24px;
  }
  .s1_left .view_btn{
    display: inline-block;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-top: 118px;
    font-size: 18px;
    padding: 15px 60px;
    color: #000;
    cursor: pointer;
    border-radius: 50;
    font-family: pre_B;
  }
  .s1_right{
    position: absolute;
    right: -150px;
    background: url(/image/web_bk.png);
    width: 851px;
    height: 741px;
    
  }

  @keyframes fadeEffect {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .scroll{  
    margin-top: 20px;
    text-align: center; 
    display: block; 
    color: #fff;
  }
  .scroll span {
    position: absolute;
    top: 88%;
    left: 50%;
    width: 26px;
    height: 45px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
  }
  .scroll span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
  }
  .scroll_txt{margin-top: 110px;
    display: block;
    text-align: center; 
    color: #fff; 
    font-size: 18px;
  }

  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
/* 2. KangSeonga 소개 영역*/
section.sec2 {
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
}
.section_title{
  font-family: pre_Bk;
  font-size: 60px;
  padding-top: 120px;
  color:var(--background-color0);
}
.sec2 .sec2wrap {
  margin-top: 110px;
  width: 100wh;
  display: flex;
}
.left_con{line-height: 1.8em;}
.left_con p{width: 588px;}
.sec2 .sec2wrap .left_con .imgbox {
  width: 588px;
  height: 300px;
  border-radius: 20px;
  background: url(../image/myself.png) no-repeat ;
}
.sec2 .sec2wrap .right_con {
  line-height: 1.8em;
  margin-left: 130px;
}
/* 사용가능한 툴 */
.sec2 .sec2wrap .right_con .tool_wrap{display: flex; justify-content: space-between; width: 340px;}
.sec2 .sec2wrap .right_con .tool_wrap .tool{width: 100px;}
.sec2 .sec2wrap .right_con .tool_wrap .tool .g_graph{position: relative; padding-bottom: 16px}
.sec2 .sec2wrap .right_con .tool_wrap .tool .g_graph img{display: block;}
.sec2 .sec2wrap .right_con .tool_wrap .tool .g_graph .graph{position: absolute; top: 38%; left: 50%;}

/* 막대( % 표시)*/
.graph{width: 140px; height: 12px; background-color: #f4f4f4; border-radius: 14px;box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;}
.graph span{display: block; height: 12px; line-height: 14px; text-align: right;  border-radius: 12px; box-sizing: border-box; color: #fff; font-size: 12px;}
.graph.stack1 span{animation: stack1 3.5s 1s; background: #256BD5; opacity: 0.8;}
.graph.stack2 span{animation: stack2 3.5s 1s; background: #D67B00; opacity: 0.8;}
.graph.stack3 span{animation: stack3 3.5s 1s; background: #E44D26; opacity: 0.8;}
.graph.stack4 span{animation: stack4 3.5s 1s; background: #369AD6; opacity: 0.8;}
.graph.stack5 span{animation: stack5 3.5s 1s; background: #FDCD00; opacity: 0.8;}
.graph.stack6 span{animation: stack6 3.5s 1s; background: #79CEF4; opacity: 0.8;}
.graph.stack7 span{animation: stack7 3.5s 1s; background: #A259FF; opacity: 0.8;}
.graph.stack8 span{animation: stack8 3.5s 1s; background: #E51050; opacity: 0.8;}

@keyframes stack1{
  0%{width: 0; color: rgba(255, 255, 255, 0);}
  40%{color: rgba(255, 255, 255, 1);}
  100%{width: 85%;}
}
@keyframes stack2{
  0%{width: 0; color: rgba(255, 255, 255, 0);}
  40%{color: rgba(255, 255, 255, 1);}
  100%{width: 85%;}
}
@keyframes stack3{
  0%{width: 0; color: rgba(255, 255, 255, 0);}
  40%{color: rgba(255, 255, 255, 1);}
  100%{width: 75%;}
}
@keyframes stack4{
  0%{width: 0; color: rgba(255, 255, 255, 0);}
  40%{color: rgba(255, 255, 255, 1);}
  100%{width: 80%;}
}
@keyframes stack5{
  0%{width: 0; color: rgba(255, 255, 255, 0);}
  40%{color: rgba(255, 255, 255, 1);}
  100%{width: 55%;}
}
@keyframes stack6{
  0%{width: 0; color: rgba(255, 255, 255, 0);}
  40%{color: rgba(255, 255, 255, 1);}
  100%{width: 60%;}
}
@keyframes stack7{
  0%{width: 0; color: rgba(255, 255, 255, 0);}
  40%{color: rgba(255, 255, 255, 1);}
  100%{width: 75%;}
}
@keyframes stack8{
  0%{width: 0; color: rgba(255, 255, 255, 0);}
  40%{color: rgba(255, 255, 255, 1);}
  100%{width: 40%;}
}


/* 교육/경력 , 자격사항 */
.sec2 span.date{font-size: 13px; color: var(--text-color2); letter-spacing: -1px; margin-left: 6px;} 
.title_l{font-size: 28px; font-family: pre_B; margin-bottom: 28px; }

/* 이러한 노력을 하고 있어요 */
.emoji{display: inline-block;}
.myeffort{margin-top: 130px; z-index: -10; width: 100%; height: 622px; background: var(--background-color); background-attachment: fixed;}
.myeffort .mye_wrap{padding-left: 24px; overflow: hidden;}
.myeffort .mye_wrap .pt_120{padding-top: 120px; margin: 0 auto; text-align: center; margin-bottom: 50px;}
.myeffort .mye_wrap .effortbox{display: flex; height: 622px ;}
.myeffort .mye_wrap .effortbox .boxstyle{margin-right: 24px; border-radius: 20px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;} 
/* 기본색 폰트_ */
.effort_txt{position: relative; padding: 24px; margin-top: 190px;}
.effort_txt .title_e{font-family: pre_B; font-size: 18px; }
.effort_txt .date_e{font-family: pre_R; font-size: 14px; padding-bottom: 15px; color: var(--text-color2);}
.effort_txt .sub_e{font-size: 16px; line-height: 1.4em; color: var(--text-color3);}
/* 흰색 폰트  */
.effort_txt_w{position: relative; padding: 24px; margin-top: 190px; color: #fff;}
.effort_txt_w .title_e_w{font-family: pre_B; font-size: 18px; color: #fff; }
.effort_txt_w .date_e_w{font-family: pre_R; font-size: 14px; padding-bottom: 15px; color: #a7a7a7; font-family: pre_L;}
.effort_txt_w .sub_e_w{font-size: 16px; line-height: 1.4em; color: #d1d1d1; font-family: pre_L;}
.mye_wrap .ebox1{width: 614px; height: 355px; background: url(../image/effort01.png);}
.mye_wrap .ebox2{width: 340px; height: 355px; background: url(../image/effort2.png);}
.mye_wrap .ebox3{width: 515px; height: 355px;background: url(../image/effort3.png);}
.mye_wrap .ebox4{width: 562px; height: 355px;background: url(../image/effort4.png);}

/*subpage1_portfolio 앨범형 포트폴리오 영역 */
.sec3 .sec3_title{font-family: pre_Bk;font-size: 60px; padding-top: 130px; margin-bottom: 130px; }
.p_group1{font-family: pre_B; font-size: 28px; margin-bottom: 45px;}
.p_group2{margin-top: 200px; font-family: pre_B; font-size: 28px; margin-bottom: 45px;}
section.sec3 {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}


/* 모달창 닫기버튼 */

.sec3 .close{width: 45px; height: 45px;}
.close::before, .close::after{z-index: 1000; content: ''; position: absolute; top: 115px; right: 16%; width: 2px; height: 40px; background-color: #fff;  cursor: pointer;}
.close::before{transform: rotate(45deg);}
.close::after{transform: rotate(-45deg);}
.morap{position: relative;}



section.sec3 .modal {
  position: fixed;
  display: none;
  z-index: 999;
  margin-top: 70px;
  left: 0;
  top: -70px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}
section.sec3 .modal .modal-content {
  position: static;
  padding-top: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

section.sec3 .modal .modal-content .p-img {
  width: 100%;
  max-width: 1200px;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  scrollbar-width: none;
  overflow-y: auto;
}

/*포트폴리오 그리드*/
section.sec3 .portfolio-list .p-wrap {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, minmax(10px, auto));
  grid-template-rows: 280px;
  gap: 30px 30px;
  text-align: center;
}
.sec3 .portfolio-list .p-item {
  position: relative;
  height: 280px;
  overflow: hidden;border-radius: 20px;
}
.sec3 .portfolio-list .p-item a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  top: 0;
}
.sec3 .portfolio-list .p-item a:hover {
  top: -100px;
}
.sec3 .portfolio-list .p-item a .bg-white {
  overflow: hidden;
  position: relative;
}
.sec3 .portfolio-list .p-item a .bg-white .p-img {
  position: relative;
  transition: all 0.3s ease 0s;
}
.sec3 .portfolio-list .p-item a .bg-white .p-img img {
  width: 384px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  top: 0px;
}
.sec3 .portfolio-list .p-item a .bg-white .p-txtbox {
  position: relative;
  opacity: 1;
  padding: 20px;
  height: auto;
  top: 0px;
  transition: all 0.3s ease 0s;
}
.sec3 .portfolio-list .p-item a .bg-white .p-txtbox .p-title {
  font-size: 16px;
  font-family: pre_B;
  text-align: center;
}
.sec3 .portfolio-list .p-item a .bg-white .p-txtbox .p-sub {
  font-size: 13px;
  font-family: pre_R;
  color: rgb(99, 99, 99);
  text-align: center;
}
:root {
  --swiper-theme-color: #fff;}
/* contact */

.sec4{
  margin-top: 150px; 
  background: #121820; 
  color: #e1e1e1; 
  text-align: center; 
  padding-bottom: 100px;
}
.pone{
  font-size: 28px; 
  font-family: pre_B;  
}
.ptwo{
  padding-top: 10px;
  margin-top: 10px;
font-size: 20px; 
}
/* 스타일작업 */
.pthree{
  cursor: pointer; 
  display: inline-block; 
  font-family: pre_B; 
  font-size: 18px; 
  margin-top: 30px; 
  padding: 10px 100px; 
  border-radius: 50px; 
  background-color: #e1e1e1; 
  color: var(--text-color1);
}
.pthree:hover{
  background-color: var(	--accent-color); 
  box-shadow: rgba(3, 3, 3, 0.9) 0px 8px 24px;}

/*위로가기 버튼*/
#up-too {
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  border: none;
  outline: none;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  transition: 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#up-too img{position:absolute;left: 50%;top: 50%; transform:translate(-50%,-50%); width:14px; height: 18px;}
#up-too.on {opacity: 1;}
footer {width: 100%; left: 0; bottom: 0; margin: 0 auto; padding: 20px 0;background-color: var(--background-color);}
footer .footerwrap {bottom: 0; position: relative; vertical-align: middle;}
footer .footerwrap p {text-align: center; font-size: 12px;}
