@charset "UTF-8";
/*자세히보기 버튼 스타일*/
.btn-view {
  position: relative;
  bottom: 5px;
  margin-left: 50px;
  font-family: pre_L;
  font-size: 12px;
  background-color: transparent;
  color: #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
  box-sizing: border-box;
  padding: 3px 5px;
  line-height: 12px;
  transition: transform 0.3s ease;
  transform: scaleY(0);
}
.btn-view:hover {
  color: #fff;
  font-family: pre_L;
}
.btn-view:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2d2d2d;
  box-sizing: border-box;
  transform: scaleY(0);
  transition: 0.5s;
  transform-origin: left bottom;
  z-index: -1;
}
.btn-view:hover:after {
  transform: scaleY(1);
}
.pageon{color:#B8ABA5;}


/* 1. 로고 및 상징 이미지 영역 */

/*배경 사진*/
section.sec1 {background: url(../image/logoimg.png) center/cover fixed;}
.sec1 .symbolbg {position: relative; width: 100%; height: 100vh;}
/* 로고 이미지 */
.sec1 .symbolbg img {position: absolute; left: 0;top: 0; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover;}
.sec1 .symbolbg .innerlogo { position: absolute; width: 140px; height: 159px; top: 50%; left: 50%; transform: translate(-50%, -50%);}

/* 2. KangSeonga 소개 영역*/
section.sec2 {width: 100%; max-width: 1200px; margin: 0 auto; }
.sec2 .section_title{
  font-family: pre_Bk;
  font-size: 60px;
  padding-top: 130px;
}
.sec2 .sec2wrap {
  margin-top: 110px;
  width: 100wh;
  display: flex;
}
.left_con{width: 588px;}
.sec2 .sec2wrap .left_con .imgbox {
  width: 588px;
  height: 290px;
  border-radius: 20px;
  background: url(../image/myself.png) no-repeat ;
}
.sec2 .sec2wrap .right_con {
  line-height: 1.6em;
  margin-left: 130px;
}
/* 사용가능한 툴 */
.sec2 .sec2wrap .right_con .tool_wrap{display: flex; justify-content: space-between; width: 340px;}
.sec2 .sec2wrap .right_con .tool_wrap .tool{width: 100px;}
.sec2 .sec2wrap .right_con .tool_wrap .tool .g_graph{position: relative; padding-bottom: 16px}
.sec2 .sec2wrap .right_con .tool_wrap .tool .g_graph img{display: block;}
.sec2 .sec2wrap .right_con .tool_wrap .tool .g_graph .graph{position: absolute; top: 38%; left: 50%;}

/* 막대( % 표시)*/
.graph{width: 140px; height: 12px; background-color: #f4f4f4; border-radius: 14px;box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;}
.graph span{display: block; height: 12px; line-height: 14px; text-align: right;  border-radius: 12px; box-sizing: border-box; color: #fff; font-size: 12px;}
.graph.stack1 span{animation: stack1 3s 1; background: #258FD5; opacity: 0.7; box-shadow: initial;}
.graph.stack2 span{animation: stack2 3s 1; background: #D67B00; opacity: 0.7;}
.graph.stack3 span{animation: stack3 3s 1; background: #E44D26; opacity: 0.7;}
.graph.stack4 span{animation: stack4 3s 1; background: #369AD6; opacity: 0.7;}
.graph.stack5 span{animation: stack5 3s 1; background: #FDCD00; opacity: 0.7;}
.graph.stack6 span{animation: stack6 3s 1; background: #79CEF4; opacity: 0.7;}
.graph.stack7 span{animation: stack7 3s 1; background: #A259FF; opacity: 0.7;}
.graph.stack8 span{animation: stack8 3s 1; background: #E51050; opacity: 0.7;}

@keyframes stack1{
  0%{width: 0; color: rgba(255, 255, 255, 0);}
  40%{color: rgba(255, 255, 255, 1);}
  100%{width: 85%;}
}
@keyframes stack2{
  0%{width: 0; color: rgba(255, 255, 255, 0);}
  40%{color: rgba(255, 255, 255, 1);}
  100%{width: 85%;}
}
@keyframes stack3{
  0%{width: 0; color: rgba(255, 255, 255, 0);}
  40%{color: rgba(255, 255, 255, 1);}
  100%{width: 75%;}
}
@keyframes stack4{
  0%{width: 0; color: rgba(255, 255, 255, 0);}
  40%{color: rgba(255, 255, 255, 1);}
  100%{width: 80%;}
}
@keyframes stack5{
  0%{width: 0; color: rgba(255, 255, 255, 0);}
  40%{color: rgba(255, 255, 255, 1);}
  100%{width: 55%;}
}
@keyframes stack6{
  0%{width: 0; color: rgba(255, 255, 255, 0);}
  40%{color: rgba(255, 255, 255, 1);}
  100%{width: 60%;}
}
@keyframes stack7{
  0%{width: 0; color: rgba(255, 255, 255, 0);}
  40%{color: rgba(255, 255, 255, 1);}
  100%{width: 75%;}
}
@keyframes stack8{
  0%{width: 0; color: rgba(255, 255, 255, 0);}
  40%{color: rgba(255, 255, 255, 1);}
  100%{width: 40%;}
}


/* 교육/경력 , 자격사항 */
.sec2 span.date{font-size: 13px; color: var(--text-color2); letter-spacing: -1px; margin-left: 6px;} 
.title_l{font-size: 28px; font-family: pre_B; margin-bottom: 28px; }

/* 이러한 노력을 하고 있어요 */
.myeffort{margin-top: 130px; z-index: -10; width: 100%; height: 622px; background: var(--background-color); background-attachment: fixed;}
.myeffort .mye_wrap{margin: 0 auto; padding:24px; overflow: hidden;}
.myeffort .mye_wrap .pt_120{padding-top: 120px; margin: 0 auto; text-align: center; margin-bottom: 50px;}
.myeffort .mye_wrap .effortbox{display: flex;  width: 3000px;}
.myeffort .mye_wrap .effortbox .boxstyle{margin-right: 24px; border-radius: 20px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}
/* 기본색 폰트_ */
.effort_txt{position: relative; padding: 24px; margin-top: 190px;}
.effort_txt .title_e{font-family: pre_B; font-size: 18px; }
.effort_txt .date_e{font-family: pre_R; font-size: 14px; padding-bottom: 15px; color: var(--text-color2);}
.effort_txt .sub_e{font-size: 16px; line-height: 1.4em; color: var(--text-color3);}
/* 흰색 폰트  */
.effort_txt_w{position: relative; padding: 24px; margin-top: 190px; color: #fff;}
.effort_txt_w .title_e_w{font-family: pre_B; font-size: 18px; color: #fff; }
.effort_txt_w .date_e_w{font-family: pre_R; font-size: 14px; padding-bottom: 15px; color: #fff; font-family: pre_L;}
.effort_txt_w .sub_e_w{font-size: 16px; line-height: 1.4em; color: #fff; font-family: pre_L;}

.mye_wrap .ebox1{width: 614px; height: 355px; background: url(../image/effort1.png);}
.mye_wrap .ebox2{width: 340px; height: 355px; background: url(../image/effort2.png);}
.mye_wrap .ebox3{width: 515px; height: 355px;}
.mye_wrap .ebox4{width: 460px; height: 355px;}
.mye_wrap .ebox5{width: 460px; height: 355px;}
.sec3 {width: 1200px; margin: 0 auto;}
.sec3 .sec3_title{font-family: pre_Bk;font-size: 60px; padding-top: 130px; text-align: center;}
/*subpage1_portfolio 앨범형 포트폴리오 영역 */
section.sec6 {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;

/*포트폴리오 그리드*/
}
section.sec3 .modal {
  position: fixed;
  display: none;
  z-index: 999;
  margin-top: 70px;
  left: 0;
  top: -70px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}
section.sec3 .modal .modal-content {
  padding-top: 50px;
  max-width: 1200px;
  margin: 0 auto;
}
section.sec3 .modal .modal-content .close {
  padding-bottom: 15px;
  color: #fff;
  font-size: 40px;
  float: right;
  cursor: pointer;
}
section.sec3 .modal .modal-content .close:hover, section.sec6 .modal .modal-content .close:focus {
  color: black;
  cursor: pointer;
}
section.sec3 .modal .modal-content .p-img {
  width: 100%;
  max-width: 1200px;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  scrollbar-width: none;
  overflow-y: auto;
}


section.sec3 .portfolio-list .p-wrap {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, minmax(10px, auto));
  grid-template-rows: 280px;
  gap: 24px 24px;
  text-align: center;
}
section.sec3 .portfolio-list .p-item {
  position: relative;
  height: 280px;
  overflow: hidden;border-radius: 20px;
}
section.sec3 .portfolio-list .p-item a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  top: 0;
}
section.sec3 .portfolio-list .p-item a:hover {
  top: -100px;
}
section.sec3 .portfolio-list .p-item a .bg-white {
  overflow: hidden;
  position: relative;
}
section.sec3 .portfolio-list .p-item a .bg-white .p-img {
  position: relative;
  transition: all 0.3s ease 0s;
}
section.sec3 .portfolio-list .p-item a .bg-white .p-img img {
  width: 384px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  top: 0px;
}
section.sec3 .portfolio-list .p-item a .bg-white .p-txtbox {
  position: relative;
  opacity: 1;
  padding: 20px;
  height: auto;
  top: 0px;
  transition: all 0.3s ease 0s;
}
section.sec3 .portfolio-list .p-item a .bg-white .p-txtbox .p-title {
  font-size: 16px;
  font-family: spoka_R;
  text-align: center;
}
section.sec3 .portfolio-list .p-item a .bg-white .p-txtbox .p-sub {
  font-size: 13px;
  color: rgb(99, 99, 99);
  text-align: center;
}


/*위로가기 버튼*/
#up-too {
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  font-family: Sometimes1;
  font-weight: 900;
  border: none;
  padding: 10px;
  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  font-size: 30px;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
  transition: 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.7);
}
#up-too.on {opacity: 1;}
footer {width: 100%; left: 0; bottom: 0; margin: 0 auto; padding: 30px 0;background-color: var(--background-color);}
footer .footerwrap {bottom: 0; position: relative; vertical-align: middle;}
footer .footerwrap p {text-align: center; font-size: 12px;}
