@charset "utf-8";
.slide {
  margin: 0 auto;
  width: 100%;
  height: 320px;

  background: url(../images/leon-skrilec-zK7tdVhudjc-unsplash.jpg) no-repeat;
  background-position: center 50%;
  background-size: cover;
}
.tname {
  position: relative;
}
.tname p {
  font-size: 15px;
  position: relative;
  width: 1000px;
  text-align: right;
  margin-bottom: 15px;
}
table {
  width: 1000px;
  border-collapse: collapse;
  border-top: 3px solid #2d2d2d;
  border-bottom: 3px solid #2d2d2d;
}
.titlebk{
  border-bottom: 1px solid rgb(44, 44, 44);
  border-top: 1px solid rgb(223, 223, 223); /* .titlebk에 상단 테두리 추가 */
  z-index: inherit;
}
th {
  width: 25%;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  border-left: 1px solid rgb(223, 223, 223);
  border-bottom: 1px solid #2d2d2d;
}
tr {
  position: relative;
  text-align: center;
  font-size: 15px;
}
td {
  padding: 10px;
  font-size: 15px;
  border-bottom: 1px solid rgb(223, 223, 223);
  border-left: 1px solid rgb(223, 223, 223);
}
td:first-child {
  border-left: none;
}
th:first-child {
  border-left: none;
}
.titlebk{
  border-bottom:1px solid rgb(223, 223, 223);
  z-index: inherit;
}
.point {
  color: #e31a2c;
}
.point::after{
  content: ''; /* 가상 요소 추가 */
  position: absolute; /* 포인트 클래스의 가상 요소의 절대 위치 설정 */
  left: 0; /* 왼쪽 정렬 */
  width: calc(100% + 2px); /* 가로 전체에 2px를 더하여 테두리가 밑에도 보이도록 조정 */

}
.tablewrap02 {
  margin-top: 100px;
  margin-bottom: 200px;
}

/*푸터*/
footer {
  background: #2d2d2d;
  height: 200px;
  margin-top: 50px;
}
footer .footer_top {
  width: 1280px;
  margin: 0 auto;
  line-height: 100px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
footer .footer_top ul.left li a {
  color: #fff;
}
footer .footer_top ul.left {
  display: flex;
}
footer .footer_top ul.left li::after {
  content: "|";
  padding: 0 12px;
  color: #fff;
}
footer .footer_top ul.left li:last-child::after {
  content: "";
}
footer .footer_top ul.right {
  display: flex;
  justify-content: center;
}
footer .footer_top ul.right img {
  transform: translateY(30%);
}
footer .footer_top ul.right li {
  margin-right: 12px;
}
footer .footer_top ul.right li a {
  color: #fff;
}
footer .footer_top ul.right li:last-child a {
  margin-left: 20px;
  border: 1px solid #fff;
  padding: 6px 50px;
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
}
footer .footer_info {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .footer_infoleft {
  color: #f6f6f6;
  font-size: 13px;
  line-height: 1.4em;
  display: flex;
  width: 700px;
}
footer .footer_infoleft img {
  margin-right: 25px;
}
footer .footer_infoleft ul li:last-child {
  font-size: 13px;
  margin-top: 7px;
  color: #f6f6f6;
}
footer .footer_inforight img {
  margin-left: 10px;
}
